# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# EAS
.eas/

# Native builds
ios/
android/

# Environment / secrets
.env
.env.local
.env*.local
google-services.json
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
